ul
  - cache cache_key_for_companies do
    - @companies.each do |company|
      - cache company do
        li
          = "Company: #{company.name}, #{company.email}"
          ul
            - company.teams.each do |team|
              - cache team do
                li
                  = "Team: #{team.name}"
                  ul
                    - team.members.each do |member|
                      - cache member do
                        li
                          = "#{member.name}, #{member.age}, #{member.email}"
